PORT=3000

AUTH_SERVICE_URL=http://localhost:3001
COMPLAINT_SERVICE_URL=http://localhost:3002
MEDIA_SERVICE_URL=http://localhost:3003
NOTIFICATION_SERVICE_URL=http://localhost:3004
ADMIN_SERVICE_URL=http://localhost:3005